# Custom Chatbot Project

TODO: In this cell, write an explanation of which dataset you have chosen and why it is appropriate for this task

## Data Wrangling

TODO: In the cells below, load your chosen dataset into a `pandas` dataframe with a column named `"text"`. This column should contain all of your text data, separated into at least 20 rows.

In [33]:
import openai
openai.api_key = "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"

In [34]:
import pandas as pd
df=pd.read_csv("./data/character_descriptions.csv")

In [35]:
df["text"]=df[['Name', 'Description',"Medium","Setting"]].agg(','.join, axis=1)
df.head()

,Name,Description,Medium,Setting,text
0,Emily,"A young woman in her early 20s, Emily is an as...",Play,England,"Emily,A young woman in her early 20s, Emily is..."
1,Jack,"A middle-aged man in his 40s, Jack is a succes...",Play,England,"Jack,A middle-aged man in his 40s, Jack is a s..."
2,Alice,"A woman in her late 30s, Alice is a warm and n...",Play,England,"Alice,A woman in her late 30s, Alice is a warm..."
3,Tom,"A man in his 50s, Tom is a retired soldier and...",Play,England,"Tom,A man in his 50s, Tom is a retired soldier..."
4,Sarah,"A woman in her mid-20s, Sarah is a free-spirit...",Play,England,"Sarah,A woman in her mid-20s, Sarah is a free-..."

In [39]:
df=df.drop(columns=['Name', 'Description',"Medium","Setting"],axis=1)
df.head()

,text,embeddings
0,"Emily,A young woman in her early 20s, Emily is...","[-0.013489177450537682, -0.012706550769507885,..."
1,"Jack,A middle-aged man in his 40s, Jack is a s...","[0.005473474971950054, -0.02031690813601017, 0..."
2,"Alice,A woman in her late 30s, Alice is a warm...","[0.00681318249553442, -0.010375800542533398, -..."
3,"Tom,A man in his 50s, Tom is a retired soldier...","[0.019282452762126923, -0.013327577151358128, ..."
4,"Sarah,A woman in her mid-20s, Sarah is a free-...","[-0.015027989633381367, -0.02092081494629383, ..."

In [40]:
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"
response = openai.Embedding.create(
    input=df["text"].tolist(),
    engine=EMBEDDING_MODEL_NAME
)

In [41]:
# Extract embeddings
df["embeddings"] = [data["embedding"] for data in response["data"]]
df.head()

,text,embeddings
0,"Emily,A young woman in her early 20s, Emily is...","[-0.013489177450537682, -0.012706550769507885,..."
1,"Jack,A middle-aged man in his 40s, Jack is a s...","[0.005473474971950054, -0.02031690813601017, 0..."
2,"Alice,A woman in her late 30s, Alice is a warm...","[0.006785046309232712, -0.01039853785187006, -..."
3,"Tom,A man in his 50s, Tom is a retired soldier...","[0.019282452762126923, -0.013327577151358128, ..."
4,"Sarah,A woman in her mid-20s, Sarah is a free-...","[-0.015027989633381367, -0.02092081494629383, ..."

## Testing Base model

In [53]:
def get_base_answer(prompt):
    prompt = """
    Question: "{}"
    Answer:
    """.format(prompt)
    
    answer = openai.Completion.create(
        model="gpt-3.5-turbo-instruct",
        prompt=prompt,
        max_tokens=150
    )["choices"][0]["text"].strip()

    return answer

## Custom Query Completion

TODO: In the cells below, compose a custom query using your chosen dataset and retrieve results from an OpenAI `Completion` model. You may copy and paste any useful code from the course materials.

In [43]:
from openai.embeddings_utils import get_embedding, distances_from_embeddings

def get_rows_sorted_by_relevance(question, df):
    """
    Function that takes in a question string and a dataframe containing
    rows of text and associated embeddings, and returns that dataframe
    sorted from least to most relevant for that question
    """

    # Get embeddings for the question text
    question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)

    # Make a copy of the dataframe and add a "distances" column containing
    # the cosine distances between each row's embeddings and the
    # embeddings of the question
    df_copy = df.copy()
    df_copy["distances"] = distances_from_embeddings(
        question_embeddings,
        df_copy["embeddings"].values,
        distance_metric="cosine"
    )

    # Sort the copied dataframe by the distances and return it
    # (shorter distance = more relevant so we sort in ascending order)
    df_copy.sort_values("distances", ascending=True, inplace=True)
    return df_copy

In [56]:
get_rows_sorted_by_relevance("Who is Emily?", df).head()

,text,embeddings,distances
0,"Emily,A young woman in her early 20s, Emily is...","[-0.013489177450537682, -0.012706550769507885,...",0.123038
2,"Alice,A woman in her late 30s, Alice is a warm...","[0.006785046309232712, -0.01039853785187006, -...",0.165766
5,"George,A man in his early 30s, George is a cha...","[-0.01931682601571083, -0.014006988145411015, ...",0.194324
6,"Rachel,A woman in her late 20s, Rachel is a sh...","[-0.0031487750820815563, -0.011512062512338161...",0.203497
4,"Sarah,A woman in her mid-20s, Sarah is a free-...","[-0.015027989633381367, -0.02092081494629383, ...",0.212389

In [46]:
import tiktoken

def create_prompt(question, df, max_token_count):
    """
    Given a question and a dataframe containing rows of text and their
    embeddings, return a text prompt to send to a Completion model
    """
    # Create a tokenizer that is designed to align with our embeddings
    tokenizer = tiktoken.get_encoding("cl100k_base")
    
    # Count the number of tokens in the prompt template and question
    prompt_template = """
Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context: 

{}

---

Question: {}
Answer:"""
    
    current_token_count = len(tokenizer.encode(prompt_template)) + \
                            len(tokenizer.encode(question))
    
    context = []
    for text in get_rows_sorted_by_relevance(question, df)["text"].values:
        
        # Increase the counter based on the number of tokens in this row
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count
        
        # Add the row of text to the list if we haven't exceeded the max
        if current_token_count <= max_token_count:
            context.append(text)
        else:
            break

    return prompt_template.format("\n\n###\n\n".join(context), question)

In [47]:
print(create_prompt("Who is Emily?", df, 200))

Answer the question based on the context below, and if the question
can't be answered based on the context, say "I don't know"

Context:

Emily,A young woman in her early 20s, Emily is an aspiring actress and Alice's daughter. She has a bubbly personality and a quick wit, but struggles with self-doubt and insecurity. She's also in a relationship with George.,Play,England

###

Alice,A woman in her late 30s, Alice is a warm and nurturing mother of two, including Emily. She's kind-hearted and empathetic, but can be overly protective of her children and prone to worrying. She's married to Jack.,Play,England

---

Question: Who is Emily?
Answer:

In [48]:
COMPLETION_MODEL_NAME = "gpt-3.5-turbo-instruct"

def answer_question(
    question, df, max_prompt_tokens=1800, max_answer_tokens=150
):
    """
    Given a question, a dataframe containing rows of text, and a maximum
    number of desired tokens in the prompt and response, return the
    answer to the question according to an OpenAI Completion model
    
    If the model produces an error, return an empty string
    """
    
    prompt = create_prompt(question, df, max_prompt_tokens)
    
    try:
        response = openai.Completion.create(
            model=COMPLETION_MODEL_NAME,
            prompt=prompt,
            max_tokens=max_answer_tokens
        )
        return response["choices"][0]["text"].strip()
    except Exception as e:
        print(e)
        return ""

In [49]:
custom_answer = answer_question("Who is Emily?", df)
print(custom_answer)

Emily is an aspiring actress in her early 20s, the daughter of Alice, and in a relationship with George in England in a play.

## Custom Performance Demonstration

TODO: In the cells below, demonstrate the performance of your custom query using at least 2 questions. For each question, show the answer from a basic `Completion` model query as well as the answer from your custom query.

### Question 1

In [54]:
prompt="Who is Emily?"
ba=get_base_answer(prompt)
ca=answer_question(prompt, df)
print(f"""
{prompt}
Original Answer: {ba}
Custom Answer:   {ca}
""")

Who is Emily?
Original Answer: Emily could be a variety of different people depending on the context in which her name is mentioned. She could be a friend, family member, acquaintance, or even a character in a book or movie. Please provide more information for a specific answer.
Custom Answer:   Emily is Alice's daughter, an aspiring actress in a relationship with George, and in her early 20s.

### Question 2

In [55]:
prompt="Who is George?"
ba=get_base_answer(prompt)
ca=answer_question(prompt, df)
print(f"""
{prompt}
Original Answer: {ba}
Custom Answer:   {ca}
""")

Who is George?
Original Answer: George is an AI noggin who enjoys playing games and answering questions to the best of his ability. He is constantly learning and expanding his knowledge base to provide the most accurate responses. George is also programmed to have a friendly and helpful personality.
Custom Answer:   George is a charming and charismatic businessman who is in a relationship with Emily. He is also ambitious, confident, and always looking for the next big opportunity.